#control-panel {
	padding: 4px;
	display: inline-block;
}

#volume-slider {
	width: 400px;
}

#progress-bar {
	width: 400px;
}

#tabs {
	width: 80%;
}

.progress-label {
	float: left;
	margin-left: 50%;
	margin-top: 5px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
